include partials/header.pug
h1.title Qui prend quoi ?
h2.subtitle Créer un événement
form(method="post" action="/party").newParty
    div.newParty__fields
        label(for="name") Nom de l'événement
        input(name="name" id="name" required minlength="3" placeholder="Ex: Nouvel an").input
        label(for="author") Créateur de l'événement
        input(name="author" id="author" required placeholder="Ex: Pépito").input
        label(for="date") Date de l'événement
        input(name="date" id="date").input
    button(type="submit").button.is-primary Créer